/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(tesst.webp);
    background-size: cover;
}

.images{
    display: flex;
    transition: 2s;
    width: 100%;
}

.images img{
    width: 100%;
}

.wrapper{
    width: 500px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    border: 5px solid black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#slide-1:target ~ .images{
    margin-left: 0px;
}

#slide-2:target ~ .images{
    margin-left: -100%;
}

#slide-3:target ~ .images{
    margin-left: -200%;
}

#slide-4:target ~ .images{
    margin-left: -300%;
}

.pilihan a{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #dedede;
    font-size: 0px;
    border-radius: 50%;
    margin: 3px;
    transition: 1s;
}

.pilihan a:hover {
    background-color:rgb(255, 1, 1);
}

.pilihan {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -50px;
}

@media screen and (max-width: 500px) and (max-width:400px){
    .wrapper{
        width: 90%;
    }
    
}

.header {
    background-color: black;
    padding: 10px 0;
}

.nav .navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .nav-item {
    margin: 0 15px;
    color: rgb(255, 1, 1);
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.nav-logo img{
    height: 40px;
}

.nav .nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.nav .nav-link:hover {
    color: rgb(255, 1, 1);
    transform: scale(1.1);
}

.section {
    text-align: center;
    color: rgb(255, 1, 1);
    flex: 3;
    margin-right: 20px;
}

.product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product1 {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    -webkit-transition: transform 0.3s, box-shadow 0.3s;
    -moz-transition: transform 0.3s, box-shadow 0.3s;
    -ms-transition: transform 0.3s, box-shadow 0.3s;
    -o-transition: transform 0.3s, box-shadow 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product1 p{
    color: rgb(255, 1, 1);
}

.product1 a{
    text-decoration: none;
    color: black;
}

.product1 img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.product1:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product1:hover img {
    transform: scale(1.05);
}

.product2 {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    -webkit-transition: transform 0.3s, box-shadow 0.3s;
    -moz-transition: transform 0.3s, box-shadow 0.3s;
    -ms-transition: transform 0.3s, box-shadow 0.3s;
    -o-transition: transform 0.3s, box-shadow 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product2 p{
    color: rgb(255, 1, 1);
}

.product2 a{
    color: black;
    text-decoration: none;
}

.product2 img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.product2:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product2:hover img {
    transform: scale(1.05);
}

.product3 {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    -webkit-transition: transform 0.3s, box-shadow 0.3s;
    -moz-transition: transform 0.3s, box-shadow 0.3s;
    -ms-transition: transform 0.3s, box-shadow 0.3s;
    -o-transition: transform 0.3s, box-shadow 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product3 p{
    color: rgb(255, 1, 1);
}

.product3 a{
    color: black;
    text-decoration: none;
}

.product3 img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.product3:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product3:hover img {
    transform: scale(1.05);
}

.product4 {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    -webkit-transition: transform 0.3s, box-shadow 0.3s;
    -moz-transition: transform 0.3s, box-shadow 0.3s;
    -ms-transition: transform 0.3s, box-shadow 0.3s;
    -o-transition: transform 0.3s, box-shadow 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product4 p{
    color: rgb(255, 1, 1);
}

.product4 a{
    color: black;
    text-decoration: none;
}

.product4 img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.product4:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product4:hover img {
    transform: scale(1.05);
}

.product5 {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    -webkit-transition: transform 0.3s, box-shadow 0.3s;
    -moz-transition: transform 0.3s, box-shadow 0.3s;
    -ms-transition: transform 0.3s, box-shadow 0.3s;
    -o-transition: transform 0.3s, box-shadow 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product5 p{
    color: rgb(255, 1, 1);
}

.product5 a{
    color: black;
    text-decoration: none;
}

.product5 img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.product5:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product5:hover img {
    transform: scale(1.05);
}

.product6 {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    -webkit-transition: transform 0.3s, box-shadow 0.3s;
    -moz-transition: transform 0.3s, box-shadow 0.3s;
    -ms-transition: transform 0.3s, box-shadow 0.3s;
    -o-transition: transform 0.3s, box-shadow 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product6 p{
    color: rgb(255, 1, 1);
}

.product6 a{
    color: black;
    text-decoration: none;
}

.product6 img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.product6:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product6:hover img {
    transform: scale(1.05);
}

.product7 {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    -webkit-transition: transform 0.3s, box-shadow 0.3s;
    -moz-transition: transform 0.3s, box-shadow 0.3s;
    -ms-transition: transform 0.3s, box-shadow 0.3s;
    -o-transition: transform 0.3s, box-shadow 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product7 p{
    color: rgb(255, 1, 1);
}

.product7 a{
    color: black;
    text-decoration: none;
}

.product7 img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.product7:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product7:hover img {
    transform: scale(1.05);
}

.product8 {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    -webkit-transition: transform 0.3s, box-shadow 0.3s;
    -moz-transition: transform 0.3s, box-shadow 0.3s;
    -ms-transition: transform 0.3s, box-shadow 0.3s;
    -o-transition: transform 0.3s, box-shadow 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product8 p{
    color: rgb(255, 1, 1);
}

.product8 a{
    color: black;
    text-decoration: none;
}

.product8 img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.product8:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product8:hover img {
    transform: scale(1.05);
}

.product9 {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    -webkit-transition: transform 0.3s, box-shadow 0.3s;
    -moz-transition: transform 0.3s, box-shadow 0.3s;
    -ms-transition: transform 0.3s, box-shadow 0.3s;
    -o-transition: transform 0.3s, box-shadow 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product9 p{
    color: rgb(255, 1, 1);
}

.product9 a{
    color: black;
    text-decoration: none;
}

.product9 img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.product9:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product9:hover img {
    transform: scale(1.05);
}

.product10 {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    -webkit-transition: transform 0.3s, box-shadow 0.3s;
    -moz-transition: transform 0.3s, box-shadow 0.3s;
    -ms-transition: transform 0.3s, box-shadow 0.3s;
    -o-transition: transform 0.3s, box-shadow 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product10 p{
    color: rgb(255, 1, 1);
}

.product10 a{
    color: black;
    text-decoration: none;
}

.product10 img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.product10:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product10:hover img {
    transform: scale(1.05);
}

button:hover{
    background-color: black;
    color: rgb(255, 1, 1);
}
